{{- bos_token }}
{%- if messages[0]['role'] == 'system' %}
    {%- set system_message = messages[0]['content'] | trim %}
    {%- set messages = messages[1:] %}
{%- else %}
    {%- set system_message = "" %}
{%- endif %}
{{- "<|start_header_id|>system<|end_header_id|>\n\n" + system_message + "<|eot_id|>" }}
{%- for message in messages %}
    {%- if message['role'] not in ['user', 'assistant', 'tool'] %}
        {{- raise_exception('bad role ' + message['role']) }}
    {%- endif %}
    {{- "<|start_header_id|>" + message['role'] + "<|end_header_id|>\n\n" + (message['content'] | default('', true) | trim) + "<|eot_id|>" }}
{%- endfor %}
{%- if add_generation_prompt %}
    {{- "<|start_header_id|>assistant<|end_header_id|>\n\n" }}
{%- endif %}
